# Android build files
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/

# Android Studio files
.idea/
*.iml
/local.properties

# Specific .idea files
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS files
.DS_Store
Thumbs.db

# Output files
captures/
*.apk
*.ap_

# Keystore files
*.jks

# Log files
*.log
